################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RFC868-Server/obj
/RFC868-Server/bin
*.user
